@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.header {
  display: flex;
  font-family: 'Secular One', sans-serif;
  width: 100%;
  position: sticky;
  background: black;
  color: white;
  align-items: flex-end;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 70px;
  list-style: none;
  margin: 25px 0 25px 0;
}

.navbar .nav-element {
  padding:  0 40px 0 40px;
}

.navbar .nav-element-current {
  padding:  0 40px 0 40px;
}

.navbar .nav-element span {
  font-size: 2.25em;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.navbar .nav-element-current span {
  font-size: 2.25em;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
}

.navbar .nav-element a:hover {
  color: grey;
}