.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10%; /* a retirer !! */
}

.slide .text {
  width: 40%;

  margin-left: 10%;
  color: white;
}

.slide .text p.title {
  margin-top: 0px;
  font-size: 4em;
  
}
.slide .text p.paragraph {
  font-size: 1.5em;
}

.slide .modelPart {
  display: flex;
  flex-direction: column;
  justify-content: end;
  
  margin-right: 5%;
}

.slide .model {
  width: 600px;
  height: 600px;

  border-style: solid;
  background-color: transparent;
}